body {
  height: 100vh;
  padding-top: 90px;
  background-color: #dedede;
  margin: 0;
  font-family:'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.burger-button:hover {
  color: #fff;
  cursor: pointer;
}

.close-button {
  color: #000;
}

.close-button:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

/*Navigation Inner Styling*/
.nav ul li .nav-link:hover {
  color: #fff;
}

.nav ul li .nav-link {
  padding: 10px 0 10px 0;
  display: inline-block;
  color: #000;
  height: 100%;
  width: 100%;
  text-transform: lowercase;
  font-weight: 700;
  font-size:3vw;
  text-decoration: none;
  font-family:"'Roboto Mono', monospace",
}

.nav ul li {
  display: inline-block;
  width: 100%;
}

.nav ul {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 0;
}

/*Landscape-Phone Downwards*/
@media (max-width: 480px) {
  .nav ul {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .nav ul li .nav-link {
    padding: 8px 0;
    font-weight: 700;
    font-size: 6vw;
    letter-spacing: -0.05em;
    text-decoration: none;
    font-family:"'Roboto Mono', monospace",
  }
}

.app-content {
  padding: 40px 100px
}

.img-container {
  padding-top: 100px;
}

@media (max-width: 520px) {
  .blob {
    display: none;
  }
  .app-content {
    padding: 40px 20px
  }
}

@media (max-width: 900px) {
  .img-container {
    padding-top: 0px;
  }
}

@media (max-width: 980px) {
  .MuiButton-root {
    padding: 6px 6px !important
  }
}